@import "../../style/style.css";

main {
  display: flex;
  flex-flow: column;
  text-align: center;
  justify: center;
}

label strong {
  font-size: 1.5em;
}

h1 {
  margin: 0;
}

div:has(canvas) {
  flex-grow: 2;
  line-height: 0;
}

canvas {
  object-fit: contain;
  image-rendering: pixelated;
}

button {
  flex-grow: 0;
}

h1 {
  margin: 0.25em;
}

form {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  margin: 0;

  div {
    display: flex;
    flex-flow: column;
    padding: 2px 2px 2px 2px;
  }
}
