@import "variables.css";

nav {
  position: sticky;
  top: 0;
  background-color: var(--nav-background-color);
  z-index: 99;
  margin: 0;
  padding: 0;
  font-size: var(--nav-font-size);
  line-height: var(--nav-lh);

  & ul {
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    box-sizing: border-box;
  }

  & li {
    margin: 0;
    padding: 0;
    float: left;
    border-right: 1px solid var(--nav-border-color);
    box-sizing: border-box;
  }

  & a,
  & a:visited {
    margin: 0;
    display: block;
    padding: 8px;
    color: var(--nav-text-color);
    text-decoration: none;
    text-align: center;
  }

  & a:hover {
    background-color: var(--nav-hover-background-color);
  }

  & .active,
  & .active:hover {
    background-color: var(--nav-active-background-color);
  }
}
