@import "variables.css";
@import "nav.css";

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
  margin: 0;
  flex-flow: column;
  height: 100vh;
  display: flex;
}

h1,
h2,
h3 {
  text-align: center;
}

a,
a:visited {
  color: var(--link-color);
}

div {
  flex: 1;
}

main {
  position: static;
  overflow: auto;
  margin: 8px;
  flex: 1;
}

.secondary {
  background-color: var(--secondary-background-color);
}

footer {
  display: block;
  background-color: var(--footer-background-color);
}

input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

button {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
}

::placeholder {
  color: #d0d0d0;
  text-align: center;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-top: 1px;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  & input {
    position: absolute;
    cursor: default;
    opacity: 0;
    height: 0;
    width: 0;
  }
  &:has(input:disabled) {
    cursor: default;

    .checkmark,
    .checkmark:hover {
      background-color: var(--checkbox-disabled-color);
    }
  }

  & input:checked ~ .checkmark {
    background-color: var(--checkbox-filled-color);
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  & .checkmark {
    border-radius: var(--checkmark-border-radius);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--checkbox-empty-color);

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}
