@import "variables.css";
@import "nav.css";
@import "footer.css";
@import "classy.css";

html {
  /* Why no go on body Firefox? */
  scrollbar-width: none;
}

body {
  background-color: var(--main-background-color);
  color: var(--text-color);
  margin: 0;
  display: flex;
  flex-flow: column wrap;
  -ms-overflow-style: none;
}

body::-webkit-scrollbar {
  display: none;
}


h1,
h2,
h3 {
  text-align: center;
}

a,
a:visited {
  color: var(--link-color);
}


main {
  min-height: calc(100vh - var(--nav-height));
  height: calc(100vh - var(--nav-height));
  box-sizing: border-box;
  overflow: none;
  flex-grow: 1;
  overflow:auto;
  padding: 8px;
  margin: 0;
}

.container {
  overflow: auto;
  background-color: var(--container-background-color);
  padding: 8px;
  border-radius: var(--container-border-radius);
}

.container .container {
  background-color: var(--nested-container-background-color);
}



input {
  background-color: var(--input-background-color);
  color: var(--input-text-color);
}

button {
  color: var(--button-text-color);
  background-color: var(--button-background-color);
}

::placeholder {
  color: #d0d0d0;
  text-align: center;
}

.checkbox-container {
  display: block;
  position: relative;
  padding-top: 1px;
  padding-left: 25px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 16px;
  user-select: none;

  & input {
    position: absolute;
    cursor: default;
    opacity: 0;
    height: 0;
    width: 0;
  }
  /* :has is currently not supported in Firefox without enabling a feature flag, but is close to being supported.
      See: https://www.mozilla.org/en-US/firefox/119.0a1/releasenotes/ */
  &:has(input:disabled) {
    cursor: default;

    .checkmark,
    .checkmark:hover {
      background-color: var(--checkbox-disabled-color);
    }
  }

  & input:checked ~ .checkmark {
    background-color: var(--checkbox-filled-color);
  }

  & input:checked ~ .checkmark:after {
    display: block;
  }

  & .checkmark:after {
    left: 5px;
    top: 2px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
  }

  & .checkmark {
    border-radius: var(--checkmark-border-radius);
  }
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 18px;
  width: 18px;
  background-color: var(--checkbox-empty-color);

  &:after {
    content: "";
    position: absolute;
    display: none;
  }
}

div:has(.project) {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

.project {
  position: relative;
  overflow: hidden;
  display:inline-block;
  flex-grow: 1;
  padding: 0;
  margin: 0;
  --dims: min(50vw, calc(50vh - calc(var(--nav-height) / 2)));
  width: var(--dims);
  height: var(--dims);

  & img {
    width: 100%;
    height: 100%;
    transition: transform 0.6s ease;
    border: var(--main-background-color);
    border-style:solid;
    border-width: 1px;
  }
  
  & p {
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0.5em;
    z-index: 1;
    margin: auto auto;
  
    background-color: var(--container-background-color);
    color: var(--text-color);
    visibility: hidden;
    opacity: 0;
  
    transition: opacity .2s, visibility .2s;
  }

  &:hover p {
    visibility: visible;
    opacity: 0.75;
  }

  &:hover img {
    transform: scale(2);
  }
}
