<footer>
  <div>
    <p class="copyright"><small>&copy Serenity Braesch 2023</small></p>
  </div>
  <div class="social-icons">
    <p>Contact Me:</p>
    <a
      class="social-icon"
      target="_blank"
      href="mailto:serenitybraesch03@gmail.com"
      ><ion-icon name="mail"></ion-icon
    ></a>
    <a
      class="social-icon"
      target="_blank"
      href="https://github.com/GreatGameGal"
      ><ion-icon name="logo-github"></ion-icon
    ></a>
    <a
      class="social-icon"
      target="_blank"
      href="https://www.twitch.tv/greatgamegal"
      ><ion-icon name="logo-twitch"></ion-icon
    ></a>
    <a
      class="social-icon"
      target="_blank"
      href="https://www.youtube.com/@greatgamegal"
      ><ion-icon name="logo-youtube"></ion-icon
    ></a>
  </div>
</footer>
<script
  type="module"
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"
></script>
<script
  nomodule
  src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"
></script>
